body{
 font-family: Arial;
 background:#f4f4f4;
 text-align:center;
}

header{
 background:#111;
 color:white;
 padding:15px;
}

.products{
 display:flex;
 justify-content:center;
 gap:20px;
 margin-top:20px;
}

.card{
 background:white;
 padding:20px;
 border-radius:10px;
 box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

button{
 padding:8px 15px;
 border:none;
 background:#2ed573;
 color:white;
 border-radius:5px;
 cursor:pointer;
}

.cart{
 margin-top:30px;
}